<%- include('./partials/nav') %> 
<%- include('./partials/navbar') %> 
<section id="faq" class="faq section-bg"  style="margin-top: 100px;">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Frequently Asked Questioins</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <ul class="faq-list">

        <li>
          <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Apakah Sudah Termasuk Perangkat Lunak? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq1" class="collapse" data-bs-parent=".faq-list">
            <p>
                Ya, perangkat lunak ini disertakan saat Anda membeli perangkat Thermaface.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Bisakah pengenalan wajah berfungsi dengan masker dan tanpa masker? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq2" class="collapse" data-bs-parent=".faq-list">
            <p>
                Ya, Anda dapat mengaktifkan mode pemakaian masker. Perangkat akan dapat mengenali pengguna yang disimpan dengan atau tanpa masker.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Berapa Lama waktu yang di butuhkan untuk mengenali wajah? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq3" class="collapse" data-bs-parent=".faq-list">
            <p>
                Dengan database kecil 1-2 detik, jika Anda menambahkan ribuan wajah, mungkin perlu waktu lebih lama.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Dimana produk di produksi? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq4" class="collapse" data-bs-parent=".faq-list">
            <p>
                Produksi kami sepenuhnya dirakit di dalam negeri, dengan komponen yang berkualitas tinggi dan proses kalibrasi yang ketat. Dengan diproduksinya didalam negeri hal ini memberi keuntungan dalam perbaikan, pemeliharaan dan layanan teknis yang diperlukan.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Apakah perangkat bersertifikat medis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq5" class="collapse" data-bs-parent=".faq-list">
            <p>
                Perangkat ini tidak dikategorikan sebagai alat kesehatan dan oleh karena itu tidak memerlukan sertifikat medis. Pengguna yang menunjukkan pembacaan suhu tidak normal harus mencari nasihat medis. Harap dicatat – perangkat ini TIDAK dimaksudkan untuk digunakan dalam diagnosis penyakit atau kondisi lain, atau dalam penyembuhan, mitigasi, pengobatan, atau pencegahan penyakit, pada manusia atau hewan lain.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Sistem apa yang di jalankan dalam perangkat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq6" class="collapse" data-bs-parent=".faq-list">
            <p>
                Perangkat menggunakan Android.
            </p>
          </div>
        </li>

      </ul>

    </div>
  </section><!-- End Frequently Asked Questioins Section -->
  <%- include('./partials/footer') %> 