
    <div class="container">
    <div class="forms-container">
       
        <div class="signin-signup">
          <form action="#" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <img src="/img/logo.png" width="20%" alt="">
            <label for="">Email :</label>
            <div class="input-field"> 
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" />
            </div>
            <input type="submit" value="Login" class="btn transparent" />
            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
         
        </div>
      </div>
    </div>
      <div class="panels-container">
 
        <div class="panel left-panel">
          
            <div class="content">
            <h3>Silahkan Bergabung dengan Kami ?</h3>
            <p>
            Daftar Disini Jika anda Belum Memiliki Akun Thermaface!
            </p>
          <a class="btn transparent" href="/register">Register</a>
          </div>
          <img src="/img/thermaface.png" class="image" alt="" />
        </div>
        </div>




   