<div class="container">
<div class="forms-container">
  <div class="signin-signup">
<form action="#" class="sign-in-form">
    <h2 class="title">Sign up</h2>
    <img src="/img/logo.png" width="20%" alt="">
    <div class="row">
      <div class="col-md-12">
    <div class="input-field">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Name" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="input-field">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Phone" />
    </div>
    </div>
    <div class="col-md-6">
    <div class="input-field">
      <i class="fas fa-envelope"></i>
      <input type="email" placeholder="Email" />
    </div>
    </div>
    <div class="col-md-6">
    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password" />
    </div>
    </div>
    <div class="col-md-6">
    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Confirm Password" />
    </div>
    </div>
    <div class="col-md-6">
    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="text" placeholder="Device Id" />
    </div>
    </div>
    <div class="col-md-6">
    <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="text" placeholder="Device Code" />
    </div>
    </div>
  </div>
    <input type="submit" class="btn" value="Sign up" />
   
  </form>
  </div>
  <div class="panels-container">

  <div class="panel left-panel">
  
    <img src="/img/hp.png" class="image" alt="" />
    <div class="content">
      <h3>Sudah Bergabung dengan Kami ?</h3>
      <p>
       Sudah Memiliki Akun? Login Sekarang!.
      </p>
     <a href="/login" class="btn transparent">Login</a>
    </div>  
  </div>
</div>
</div>
</div>

